.itineraryHistory {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.itineraryHistoryItem {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.itineraryHistoryItem:hover {
  border-color: var(--accent);
}
