.itineraryHistory {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.itineraryHistoryItem {
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.itineraryHistoryItem:hover {
  border-color: #c1fff5;
}
