.itineraryHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 95vh;
  overflow: scroll;
}

.itineraryHistoryItem {
  position: relative;
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 25vw;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.itineraryHistoryItem:hover {
  border-color: var(--accent);
}

.historyDelete {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.historyDelete:hover {
  animation: deleteShake 0.5s;
}

@keyframes deleteShake {
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.pageInfo {
  margin: 0 1rem;
}

.paginationButton,
.paginationButtonDisabled {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-color: var(--background);
  color: var(--text);
  border-radius: 0;
  border: 1px solid var(--primary);
  &:hover {
    background-color: var(--accent);
  }
}

.paginationButtonDisabled {
  background-color: var(--primary);
  cursor: default;
  &:hover {
    background-color: var(--primary);
  }
}

@media (max-width: 768px) {
  .itineraryHistory {
    flex-direction: column;
    align-items: center;
  }

  .itineraryHistoryItem {
    width: 90vw;
  }
}
