.drag-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}
