.map {
  width: 100%;
  height: 97%;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 75%;
  height: 100vh;
  padding-top: 1rem;
}

#markerWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}
