.searchResultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 14px;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
  height: 350px;
  transition: all 0.2s ease-in-out;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: #3e4140;
  &:hover {
    background-color: #606161;
    color: #fff;
  }
}

.cardName,
.eventName {
  font-size: 2rem;
  font-weight: 600;
  height: 25%;
  overflow: scroll;
}

.cardRating {
  font-size: 1.2rem;
  font-weight: 400;
  height: 10%;
}

.cardAddress,
.cardTypes {
  font-size: 1.2rem;
  font-weight: 400;
  height: 10%;
  overflow: scroll;
}

.cardWebsite {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7cdfce;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #fff;
  }
}

.cardDescription {
  font-size: 0.75rem;
  font-weight: 400;
  height: 50px;
  overflow: scroll;
  text-align: start;
}
