.navContainer {
  display: flex;
  position: absolute;
  top: 0;
  align-items: end;
  flex-direction: row;
  width: 100vw;
  z-index: 100;
}

.rightNav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.leftNav {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.userIcon {
  padding: 0.5rem 1rem 0 0;
  cursor: pointer;
}

.homeIcon {
  margin-right: auto;
  top: 0;
  padding: 0.5rem 0 0 1rem;
  cursor: pointer;
}

.dropdownParent {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
