.navDropdownContainer {
  z-index: 999;
  margin-left: auto;
  background-color: rgb(59, 59, 59);
  border-radius: 14px;
  margin: 0.5rem 1rem;
}

.navDropdownItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: smaller;
  &:hover {
    color: #7cdfce;
  }
}
