.navDropdownContainer {
  position: fixed;
  z-index: 999;
  background-color: var(--secondary);
  border-radius: 14px;
  top: 0;
  right: 5px;
  transform: translate(0px, 3rem);
  color: var(--text);
  min-width: 5vw;
  text-align: left;
}

@media (max-width: 768px) {
  .navDropdownContainer {
    bottom: 0;
    top: auto;
    right: 0;
    transform: translate(0px, -3rem);
  }
}

.navDropdownItem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: smaller;
  &:hover {
    color: #7cdfce;
  }
}

.navDropdownIcon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
