.navDropdownContainer {
  position: absolute;
  z-index: 999;
  background-color: var(--secondary);
  border-radius: 14px;
  transform: translate(-70px, 30px);
}

.navDropdownItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: smaller;
  &:hover {
    color: #7cdfce;
  }
}
