.searchResultCardContainer {
  margin: 0 2rem 0 1rem;
}

.searchResultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 14px;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
  height: 25vh;
  width: 25vw;
  transition: all 0.2s ease-in-out;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background-color: var(--secondary);
  &:hover {
    background-color: var(--accent);
  }
}

@media (max-width: 768px) {
  .searchResultCardContainer {
    margin: 0 0 0 0;
  }
  .searchResultCard {
    width: 90vw;
    padding: 0;
    margin: 0;
  }
}

.cardName {
  font-size: 2rem;
  font-weight: 600;
  height: 25%;
  width: 100%;
  overflow: scroll;
}

.cardRating {
  font-size: 1.2rem;
  font-weight: 400;
  height: 10%;
}

.cardAddress,
.cardTypes {
  font-size: 1.2rem;
  font-weight: 400;
  height: 10%;
  overflow: scroll;
}

.cardWebsite {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--secondary);
  }
}

.cardDescription {
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  overflow: scroll;
  padding: 0 2rem;
  text-align: start;
}

#spanTime {
  font-size: 1.2rem;
  font-weight: 400;
  color: #40e23a;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.searchResultCardLoading {
  display: flex;
  overflow-y: hidden;
  background: linear-gradient(
    110deg,
    var(--accent) 8%,
    var(--primary) 18%,
    var(--accent) 33%
  );
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
  transition: all 0.2s ease-in-out;

  .cardName {
    height: fit-content;
  }
}

.timeoutAlert {
  font-weight: 400;
  color: var(--background);
  text-align: center;
}
